
@{
    ViewBag.Title = "CancelAppointment";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:blue">Your appointment was cancelled !!!!</h2>

