
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Your appointment was booked successfully.....</h2>

