@model OnlineDoctorsAppointmentBooking.Models.AppointmentDetails

@{
    ViewBag.Title = "TimeSlots";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<center>
    <h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:30px">Book Your Appointment</h2>

    @using (Html.BeginForm())
    {
        
        <div class="form-group">
            <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Select the Date</h4>
            @Html.TextBoxFor(c => c.AppointmentDate, new { @class = "date-picker", autocomplete = "off", required = true })
            @Html.ValidationMessageFor(c => c.AppointmentDate)
        </div>
        <div class="form-group">
            <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Select your Time Slot</h4>
            @Html.DropDownListFor(c => c.TimeSlotsId, ViewBag.TimeSlotsId as SelectList, new { @class = "form-control", autocomplete = "off", required = true })
            @Html.ValidationMessageFor(c => c.TimeSlotsId)
        </div>
        <br />
        <div>
            <input type="submit" value="Book" class="btn btn-primary" />
        </div>
    }
</center>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".date-picker").datepicker({
                dateFormat: "dd/mm/yy",
                minDate: 0,
                maxDate: "+3M"
            });
        });
    </script>
}

