
@{
    // Layout = null;
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    @*<a href="~/Views/Shared/DatePicker.html">~/Views/Shared/DatePicker.html</a>*@
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css" )" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.date-picker').datepicker({
                minDate: 0,
                maxDate: "+3M"
            });
        })
    </script>
    <div>
        @Html.TextBox("Enter date", "", new { @class="date-picker"})
    </div>
